.banner-container {
    text-align: left;
    padding: 32px !important;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 172px;
    font-family: sans-serif;
    background-color: #f8f9fa;
    border-left: 4px solid #3b9c6f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 12px;
    font-family: sans-serif;
}

.banner-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: sans-serif;
}

.banner-text {
    font-size: 1.1rem;
    color: #677788;
    line-height: 1.5;
    width: 60%;
    margin-bottom: 15px;
}

.banner-button {
    background-color: #218838;
    border: #218838;
}

.banner-button:hover {
    background-color: #218838;
}

.bg-white {
    background-color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #e9ecef;
}

@media (max-width: 1200px) {
    .banner-container {
        margin-left: 100px;
    }
}

@media (max-width: 768px) {
    .banner-container {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 576px) {
    .banner-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}
