<div class="bg-white border-bottom collapse" style="padding: 32px" [ngClass]="{'show': !isCollapsed}" id="learnMoreCollapse">
  <div class="container">
        <h1 class="banner-title">Free invoice Template</h1>
        <h2 class="banner-subtitle">Make beautiful Invoices with one click!</h2>
        
        <p class="banner-text">
          Welcome to the original Invoice Generator, trusted by millions of people. Invoice Generator lets you
          instantly make Invoices with our attractive invoice template straight from your web browser. The Invoices
          you make can be sent and paid online or downloaded as a PDF.
        </p>
        
        <p class="banner-text">
          <span class="emphasis">Did we also mention that Invoice Generator lets you generate an unlimited number of Invoices?</span>
        </p>
        
        <button class="btn btn-primary banner-button" (click)="toggleBanner()">
          OK, got it!
        </button>
    </div>
</div>

<div class="d-flex justify-content-center g-3">
  <div class="mx-3">
    <div id="adngin-top-0"></div>
  </div>
  <div class="mx-3">
    <div id="adngin-instream-0"></div>
  </div>
</div>
